/* Added variables for colors */
:root {
  --white: #D0EDF1;
  --black: black;    
}
body {
  /*  
  display: flex;
  flex-direction: column;*/
  line-height: 1;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--white);
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--white);
  color: var(--black);
  border-bottom: 10px solid var(--black);
}

h1 {
  font-size: 40px;
}
h2{
  font-size: 30px;
  line-height: 1.5;
}
h3{
  font-size: 40px;
  text-align: center;
}
h4{
  font-size: 30px;
  text-align: center;
}
h5 {
  font-size: 20px;
  text-align: center;}
h6{
  font-size: 15px;
  text-align: center;
}
/* Nav */
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  list-style: none;
  padding: 10px 15px 10px 15px;
}
nav a {
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: gray;
}
/* Section that contians information about me */

article{
  border-bottom: 10px solid var(--black);
}
.about-me{
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
}
/* Picture of Me */
.image-me {
  display: flex;
  height: 250px;
  width: 250px;
}

.about-text p{
  display: flex;
  color: var(--black);
  padding-left: 10px;
  line-height: 1.5;
}

.content-projects h3{
  text-align: center;
  background-color: var(--white);
}

.content-projects{
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 10px solid var(--black);
}

.content-projects{
  background-color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.content-colum .content-image1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-image1:hover {
  display: flex;
  position: relative;
  background-color: red;
}






